footer {
    background-color: var(--background-color-1);
    color: white;
    padding: 0px 200px 10px;
}

.footer-top {
    margin-bottom: 20px;
}

.footer-logo {
    max-width: auto;
}

.footer-text {
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 300;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    gap: 20px;
}

.footer-section {
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0px;
}

.footer-section ul li {
    margin-top: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    .footer-container {
       height: 250px;
       width: 40vh;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
    }

    .footer-top img {
        margin-left: -170px;
        width: 160px;
    }

    .footer-top p {
        margin-left: -170px;
        width: 400px;
        font-size: 0.8rem;
    }

    .footer-bottom {
        margin-left: -150px;
        margin-top: -15px;
        display: flex;
        flex-direction: row; 
        width: 450px;       
    }

    .footer-bottom h3 {
        font-size: 0.7rem;
    }

    .footer-bottom ul li a {
        font-size: 0.5rem;
    }

    .footer-bottom ul li {
        margin-top: -10px;
    }
}